@import "base/mixin";
@import "template/topmenu";

.tags-section {
    margin-bottom: 40px;
    .flex {
        align-items: center;
        justify-content: center;
    }
    a {
        display: flex;
        align-items: baseline;
        font-family: trajan;
        font-size: pxToEm(20);
        color: $green;
        &::before {
            margin-right: 10px;
        }
    }
    .link {
        opacity: 0.5;
        transition: 0.4s ease;
        &:first-child {
            margin-right: 50px;
            a::before {
                content: "";
                width: 23px;
                height: 15px;
                background: url(../images/media/icon_photo.png) center/contain no-repeat;
                display: block;
            }
        }
        &:nth-child(2) {
            a::before {
                content: "";
                width: 26px;
                height: 15px;
                background: url(../images/media/icon_film.png) center/contain no-repeat;
                display: block;
            }
        }
    }
    .link:hover {
        @media (min-width: 768px) {
            opacity: 1;
        }
    }
    .link.active {
        opacity: 1;
    }
}
.topmenu-section {
    margin-bottom: 40px;
}
.photo-section {
    margin-bottom: 100px;
    .flex {
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .imgwrap {
        width: 100%;
        object-fit: cover;
    }
    .v1 {
        .imgwrap:first-child {
            width: 58%;
            aspect-ratio: 1/0.5941;
        }
        .imgwrap:last-child {
            width: 40%;
            aspect-ratio: 1/0.841049;
        }
    }
    .v2 {
        .imgwrap:first-child,
        .imgwrap:nth-child(2) {
            width: 23.5%;
            aspect-ratio: 1.444;
        }

        .imgwrap:last-child {
            width: 49%;
            aspect-ratio: 1/0.6975;
        }
    }
    .v3 {
        .imgwrap:first-child {
            width: 66%;
            aspect-ratio: 1/0.5185185;
        }
        .imgwrap:last-child {
            width: 32%;
            aspect-ratio: 1/1.06327;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 0;
        .flex {
            flex-wrap: wrap;
            margin-bottom: 0px;
        }
        .imgwrap {
            margin-bottom: 10px;
        }
        .v1 {
            .imgwrap:first-child {
                width: 100%;
                // padding-bottom: 60%;
            }
            .imgwrap:last-child {
                width: 100%;
                // padding-bottom: 84%;
            }
        }
        .v2 {
            .imgwrap:first-child,
            .imgwrap:nth-child(2) {
                width: 48.5%;
                // padding-bottom: 71%;
            }

            .imgwrap:last-child {
                width: 100%;
                // padding-bottom: 70%;
            }
        }
        .v3 {
            .imgwrap:first-child {
                width: 100%;
                // padding-bottom: 52%;
            }
            .imgwrap:last-child {
                width: 100%;
                // padding-bottom: 107%;
            }
        }
    }
}
