@import "base/mixin";
@import "template/form";
.orderlist-section {
    margin-bottom: 80px;
    .sectionTitle {
        color: $org;
        margin-bottom: 33px;
        &::before {
            content: "";
            width: 15px;
            height: 21px;
            background: url(../images/order_icon.png) center/contain no-repeat;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .table-title,
    .table-content {
        display: flex;
        align-items: center;
        li:not(:last-child) {
            width: 17%;
        }
    }
    .table-title {
        font-size: pxToEm(14);
        color: $green;
        margin-bottom: 14px;
    }
    .table-content {
        font-size: pxToEm(16);
        font-family: creamfont;
        color: #1a1410;
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
        .sectionTitle {
            margin-bottom: 15px;
        }
        .table-title,
        .table-content {
            li:not(:last-child) {
                width: 100%;
            }
        }
        .table-title {
            display: none;
        }
        .table-content {
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            margin-bottom: 15px;
            li {
                display: flex;
                margin-bottom: 15px;
            }
            .mo {
                color: $green;
                margin-right: 20px;
            }
        }
    }
}
.buylist-section {
    margin-bottom: 120px;
    .border {
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 33px;
        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #b8c5c2;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .sectionTitle {
        color: $org;
        margin-bottom: 33px;
        &::before {
            content: "";
            width: 15px;
            height: 21px;
            background: url(../images/bag_active.png) center/contain no-repeat;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .table-title,
    .table-content {
        display: flex;
        align-items: center;
        .t1 {
            width: 61%;
        }
        .t2 {
            width: 17%;
        }
        .t3 {
            width: 13%;
        }
        .t4 {
            width: 9%;
        }
    }
    .table-title {
        font-size: pxToEm(14);
        color: $green;
        margin-bottom: 20px;
    }
    .table-content {
        &:not(:last-child) {
            margin-bottom: 33px;
        }
        .t2,
        .t3,
        .t4 {
            font-family: creamfont;
            font-size: pxToEm(16);
        }
        .t4 {
            color: $org;
        }
    }
    .product {
        display: flex;
        align-items: center;
    }
    .product-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 14%;
        height: 0;
        padding-bottom: 18%;
        margin-right: 3%;
    }
    .product-info {
        width: 60%;
    }
    .product-name {
        @include font-size(pxToEm(24), pxToEm(22));
        position: relative;
        max-height: 58px;
        overflow: hidden;
    }
    .orgline {
        width: 26px;
        height: 2px;
        background-color: $org;
        margin: 10px 0 17px;
    }
    .product-content {
        max-height: 38px;
        overflow: hidden;
        color: #737373;
        @include font-size(pxToEm(16), pxToEm(14));
    }
    // price area
    .flex {
        justify-content: space-between;
    }
    .dotlists {
        width: 60%;
    }
    .list {
        display: flex;
        align-items: center;
    }
    .list:first-child {
        margin-bottom: 30px;
    }
    .list:nth-child(2) {
        .dottitle {
            margin-right: 2%;
        }
        .txt {
            color: #737373;
        }
    }
    .dottitle {
        white-space: nowrap;
        color: $org;
        position: relative;
        padding-left: 4px;
        margin-right: 4%;
        font-family: creamfont;
        &::before {
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $org;
            position: absolute;
            left: -10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .content {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .giveaway-img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 11%;
        height: 0;
        padding-bottom: 15%;
        margin-right: 3%;
    }
    .txt-wrap {
        flex-grow: 1;
        .product-name {
            font-size: pxToEm(24);
            margin-bottom: 10px;
        }
    }
    .txt {
        font-size: pxToEm(14);
        color: $org;
    }
    //price-detail
    .price-detail {
        width: 22%;
        margin-right: 5%;
        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
        }
        span:first-child {
            color: $green;
            font-size: pxToEm(18);
        }
        span:last-child {
            font-family: creamfont;
            font-size: pxToEm(16);
        }
        .total {
            span:last-child {
                font-size: pxToEm(20);
                color: $org;
            }
        }
    }
    @media (max-width: 991px) {
        //price-detail
        .price-detail {
            width: 30%;
            margin-right: 0;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 40px;
        .border {
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 20px;
            &::after {
                width: calc(100% - 60px);
            }
        }
        .sectionTitle {
            margin-bottom: 15px;
        }
        .table-title {
            display: none;
        }
        .table-content {
            flex-wrap: wrap;
            position: relative;
            .t1 {
                width: 100%;
                margin-bottom: 30px;
            }
            .t2 {
                select {
                    font-size: pxToEm(18);
                    width: 100%;
                    padding: 5px 10px;
                }
            }
            .t2,
            .t3,
            .t4 {
                display: flex;
                align-items: center;
                width: 100%;
                margin-left: 35%;
                margin-bottom: 20px;
                span:first-child {
                    white-space: nowrap;
                    margin-right: 15px;
                    color: $green;
                }
                span:last-child {
                    font-size: pxToEm(18);
                }
            }
        }
        .product {
            align-items: flex-start;
        }
        .product-img {
            width: 30%;
            padding-bottom: 41%;
            margin-right: 5%;
        }
        .product-info {
            width: 70%;
        }
        .product-name {
            max-height: fit-content;
        }
        .orgline {
            width: 26px;
            height: 2px;
            background-color: $org;
            margin: 10px 0 17px;
        }
        .product-content {
            max-height: fit-content;
        }
        .deletebtn {
            width: 33px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: 0;
        }
        // price area
        .flex {
            flex-direction: column;
        }
        .dotlists {
            width: 100%;
            margin-bottom: 35px;
        }
        .list {
            flex-direction: column;
            align-items: flex-start;
        }
        .dottitle {
            margin-right: 0%;
            margin-bottom: 10px;
            margin-left: 10px;
        }
        .giveaway-img {
            width: 30%;
            padding-bottom: 30%;
            margin-right: 5%;
        }
        //price-detail
        .price-detail {
            width: 100%;
        }
    }
}
.customer-section {
    margin-bottom: 40px;
    .sectionTitle {
        margin-bottom: 33px;
        color: $org;
        display: flex;
        align-items: center;
        &::before {
            content: "";
            width: 15px;
            height: 21px;
            background: url(../images/member_icon_active.png) center/contain no-repeat;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .flex {
        justify-content: space-between;
        align-items: flex-start;
        background-color: #f9f9f9;
        position: relative;
        padding: 46px 75px;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: url(../images/index/pattern.png);
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.1;
        }
        &::after {
            content: "";
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid $org;
            pointer-events: none;
        }
    }
    .wrap:first-child {
        width: 36%;
        .dottitle {
            min-width: 70px;
        }
    }
    .wrap:last-child {
        width: 50%;
        .dottitle {
            min-width: 100px;
        }
    }
    .list {
        display: flex;
        align-items: baseline;
        margin-bottom: 28px;
    }
    .dottitle {
        position: relative;
        padding-left: 8px;
        color: $green;

        &::before {
            content: "";
            width: 7px;
            height: 7px;
            background-color: $org;
            border-radius: 50%;
            position: absolute;
            left: -8px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .line {
        width: 1px;
        height: calc(100% - 46px - 46px);
        background-color: $org;
        position: absolute;
        left: 44%;
        top: 46px;
    }
    .btnwrap {
        text-align: center;
        margin-top: 50px;
    }
    @media (max-width: 991px) {
        .flex {
            padding: 40px;
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
        .p-0 {
            padding: 0;
        }
        .flex {
            font-size: pxToEm(18);
            flex-direction: column;
            padding: 30px 35px 20px;
            &::before {
                background: url(../images/index/pattern_mb.png);
            }
        }
        .wrap:first-child {
            width: 100%;
            .dottitle {
                min-width: 100px;
            }
        }
        .wrap:last-child {
            width: 100%;
            .dottitle {
                min-width: 100px;
            }
        }
        .list.col {
            flex-direction: column;
            .dottitle {
                margin-bottom: 15px;
            }
            div:last-child {
                line-height: 1.75;
            }
        }
        .line {
            display: none;
        }
        .btnwrap {
            text-align: center;
            margin-top: 35px;
        }
    }
}
