@import "base/mixin";
@import "template/topmenu";
@import "template/editor";
@import "template/page";
.topmenu-section {
    margin-bottom: 52px;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
}
.content-section {
    margin-bottom: 30px;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 23.5%;
            margin-bottom: 40px;
            &:not(:nth-child(4n)) {
                margin-right: 2%;
            }
        }
        li > a {
            text-align: center;
            display: block;
            // width: 300px;
        }
        li:hover {
            @media (min-width: 768px) {
                .img {
                    transform: scale(1.1);
                    &::before {
                        opacity: 1;
                    }
                }
                .product-name,
                .product-content {
                    color: $org;
                }
            }
        }
        .imgwrap {
            overflow: hidden;
            width: 100%;
            height: 365px;
            margin-bottom: 23px;
        }
        .img {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
            transition: 0.4s ease;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(#fff, 0.2);
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 0.4s ease;
            }
        }
        .product-cate {
            display: inline-block;
            color: $green;
            border-bottom: 1px solid $green;
            // padding-bottom: 7px;
            height: 29px;
            overflow: hidden;
        }
        .product-name {
            color: #1a1410;
            margin-bottom: 3px;
            transition: 0.4s ease;
            max-height: 3.2em;
            line-height: 1.6;
            margin-top: 12px;
            overflow: hidden;
        }
        .product-content {
            color: #737373;
            margin-bottom: 6px;
            transition: 0.4s ease;
            max-height: 42px;
            overflow: hidden;
        }
        .product-price {
            .f18 {
                color: #9b9b9b;
                text-decoration: line-through;
                margin-right: 5px;
            }
            .f22-25 {
                color: $org;
            }
        }
    }
    @media (max-width: 1200px) {
        ul {
            li {
                width: 32%;
                &:not(:nth-child(4n)) {
                    margin-right: 0%;
                }
                &:not(:nth-child(3n)) {
                    margin-right: 2%;
                }
            }
        }
    }
    @media (max-width: 991px) {
        ul {
            justify-content: space-between;
            li {
                width: 48%;
                &:not(:nth-child(4n)) {
                    margin-right: 0%;
                }
                &:not(:nth-child(3n)) {
                    margin-right: 0%;
                }
            }
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
        ul {
            .imgwrap {
                height: 205px;
                margin-bottom: 13px;
            }
            .product-name {
                max-height: 2.2em;
                line-height: 1.2;
            }
        }
    }
}
.page-section {
    margin-bottom: 45px;
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}
